@font-face {
   font-family: 'AlexBrush-Regular';
   font-display: swap;
   src: url('file:///C:/Users/EversonDomingues/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-04-25_163115/fonts/AlexBrush-Regular/font.ttf');
}
